body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #3b3939;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

#buscador {
    padding: 10px;
    margin-bottom: 20px;
}

#contenedor-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.producto {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
}

button {
    background-color: #f8f6f6;
    color: #060606;
    border: none;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
}

#contenedor-productos img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}